.search-container {
  padding: 30px 40px;
  background-color: #e6f7ff;
  height: 270px;
  width: 1250px;
  border-radius: 16px;
  margin-top: 55px;
}

.search-container h1 {
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  color: #262626;
}

.search-button {
  width: 100px;
  height: 40px;
  left: 60px;
  top: 175px;
  background: #1890ff;
  color: #fff;
  border-radius: 4px;
}

.search-input {
  padding: 8px 27px 8px 17px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 16px;
  text-align: left;
  height: 40px;
  width: 300px;
  margin-top: 12px;
  margin-bottom: 32px;
}

.search-input::placeholder {
  color: #bfbfbf;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cep-search-result {
  padding: 30px 40px;
  background-color: #e6f7ff;
  height: 270px;
  width: 1250px;
  border-radius: 16px;
  margin-top: 55px;
}
