.home-container {
  padding: 40px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.02em;
}

.home-container p {
  color: #7e7e7e;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.start-button {
  color: #fff;
  background-color: #1890ff;
  padding: 5px 18px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  line-height: 24px;
}

.start-button:hover {
  color: #fff !important;
  background-color: #1890ff !important;
}
